body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: lightgrey;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 15px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #232221;
    cursor: pointer;
}

.clicked {
    background-color: #b2b3b2;
}
